<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediclinic">

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mainlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mediclinic">
        <activity android:name=".reminderPatient" />
        <activity android:name=".patientEditProfile" />
        <activity android:name=".Pat_dashboard" />
        <activity android:name=".DoctorNoticesPatientView"/>
        <activity android:name=".CreatePatientProfileActivity" />
        <activity android:name=".CreateDoctorProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DoctorViewProfile" />
        <activity android:name=".PatientViewProfile" />
        <activity android:name=".PatientNoteView" />
        <activity android:name=".EditPatientNote" />
        <activity android:name=".EditDoctorNotice" />
        <activity android:name=".EditDoctorNote" />
        <activity android:name=".EditClinicActivity" />
        <activity android:name=".signDoctor" />
        <activity android:name=".signPatient" />
        <activity android:name=".Doc_dashboard" />
        <activity android:name=".PatientViewActivity" />
        <activity android:name=".DoctorViewActivity" />
        <activity android:name=".JoinClinicActivity" />
        <activity android:name=".CreateClinicActivity"/>
        <activity android:name=".DoctorNoticesView" />
        <activity android:name=".DoctorNoteView" />
        <activity android:name=".doctorEditProfile" />
        <activity android:name=".CreatePaientNote" />
        <activity android:name=".CreateDoctorNote" />
        <activity android:name=".CreateDoctorNotice" />
        <activity android:name=".landingPage" />
        <activity android:name=".app1page" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".MainActivity">-->
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
<!--        </activity>-->
    </application>

</manifest>